@font-face {
  font-family: "Gerbera-Light";
  src: url(../fonts/Gerbera-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera-Regular";
  src: url(../fonts/Gerbera-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera-Medium";
  src: url(../fonts/Gerbera-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera-Bold";
  src: url(../fonts/Gerbera-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera-Black";
  src: url(../fonts/Gerbera-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera-Light-italic";
  src: url(../fonts/Gerbera-Light-italic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gerbera-Regular-Italic";
  src: url(../fonts/Gerbera-Regular-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gerbera-Medium-italic";
  src: url(../fonts/Gerbera-Medium-italic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gerbera-Bold-Italic";
  src: url(../fonts/Gerbera-Bold-Italic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gerbera-Black-italic";
  src: url(../fonts/Gerbera-Black-italic.ttf);
  font-weight: 900;
  font-style: italic;
}
